body {
    font-family: sans-serif;
    margin: auto;
    width: 1000px;
}

header {
    width: 100%;
    overflow: hidden;
}

/* 처음엔 현재 금액이 0원이므로 전부 빨간색으로 초기화한다 */
#품목,
#품목,
#품목 {
    color: red;
}

main {
    display: flex;
}

main section {
    display: flex;
    width: 33%;
    border: 1px solid rgb(255, 0, 230);
}

main div {
    width: 33%;
}

h1 {
    display: flex;

}


h1 div img {
    width: 55px;
    height: 55px;
}

nav {
    display: flex;
    width: 33%;
}

.section1 .product div {
    border: 1px solid blue;
}

nav button {
    width: 100%;
}

.container {
    width: 100%;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 120, 0.5), rgba(255, 255, 0, 0.5)),
        url("https://sesac.seoul.kr/static/common/images/www/temp/thumbnail.png");
    border-radius: .3rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}


.section1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    position: static;
}

.section2 {
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 477px;
    width: 330px;
    flex-wrap: wrap;
    flex-direction: column;
}

.section2 ul {
    font-size: 8px;
    padding: 0%;
    height: 240px;
}

.section2 ul p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section3 {
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    flex-wrap: wrap;
    flex-direction: column;

}

.section3 input {
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#current {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    width: 157px;
    padding: 16px;
}

.product div img {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product p {
    font-size: 8px;
}

#s2_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#s2_img img {
    width: 55px;
    height: 55px;
}

#s3_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#s3_img p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#s3_img img {
    width: 55px;
    height: 55px;
}

.account p {
    font-size: 20px;
    color: darkorchid;
}

#logList {
    overflow: scroll;
    
    height: 200px;
}

#current {
    color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.press {
    border: 5px solid pink;
}

